<!doctype html>
<head>
    <meta charset="utf-8"/>
	<title></title>
</head>
<body>
<div>
    <div >
		<div>输入文本：</div>
		<div><textarea id = "textIn"></textarea></div>
	
	</div>
    <div>
		<div>输出文本：</div>
		<div><textarea id = "textOut"></textarea></div>
	</div>
	<button type="button" onclick="test()" >翻译</button>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/crypto-js/4.0.0/crypto-js.js"></script>
<script type="text/javascript">
    var appKey = '717f147fdc2f0ef6'; // appID
    var key = 'JmTNzdviEw31ReSWFAxs0masMzJqzdn6'; // 申请的密钥
    var from = 'zh-CHS';
    var to = 'en';
	
	function test(){
		var query = document.getElementById("textIn").value;
		var salt = (new Date).getTime();
		var curtime = Math.round(new Date().getTime()/1000);
		var str1 = appKey + truncate(query) + salt + curtime + key;
		var sign = CryptoJS.SHA256(str1).toString(CryptoJS.enc.Hex);
		$.ajax({
			url: 'http://openapi.youdao.com/api',
			type: 'post',
			dataType: 'jsonp',		// jsonp 类型
			data: {
				q: query,
				appKey: appKey,
				salt: salt,
				from: from,
				to: to,
				sign: sign,
				signType: "v3",
				curtime: curtime,
			},
			success: function (data) {
				var dataObj = data.translation;
				document.getElementById("textOut").value = dataObj;
				console.log(dataObj);
				console.log("获取数据成功！");
			}
		});

		function truncate(q){
			var len = q.length;
			if(len<=20) return q;
			console.log(q.substring(0, 10) + len + q.substring(len-10, len));
			return q.substring(0, 10) + len + q.substring(len-10, len);

		}
	}
	
</script>
</body>
</html>
